{% extends 'czytaj/base.html' %}
{% block content %}
    <h2>Witaj czytelniku!!!</h2>
    <ul>
    <li>Imię:  {{ author.first_name }}</li>
    <li>Nazwisko: {{ author.last_name }}</li>
    <li>Data urodzenia: {{ author.year_of_birth }} </li>
    {% if author.year_of_death != None %}
    <li>Data Śmierci: {{ author.year_of_death }} </li>
    {% endif %}
    </ul>
    <p>Książki:</p>
    {% for book in author.books.all %}
    <ul>
    <li> {{book}} </li>
    </ul>
    {% endfor %}
    <h5><a href="/update_author/{{author.pk}}/">Dodaj książki do autora</a></h5>
{% endblock %}