{% extends 'czytaj/base.html' %}
{% block content %}
    <h1>Zaloguj się</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Zaloguj">
    </form>
    {% if message != None %}
    {{ message }}
    {% endif %}
    <h3>Pamiętaj że aby móc dodawać książki, autorów, recenzje itp.<h3>
    <h3>Musisz być zalogowany!!!</h3>
    <p>Nie jesteś jeszcze naszym użytkownikiem?</p>
    <p>Nic straconego! Załóż nowe konto!</p>
    <p><a href="/add_user/">Załóż konto</p>
{% endblock %}